.root {
  margin: 0;
  font-family: var(--font-display);
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0;
  color: var(--c-white);
  font-feature-settings: "zero" on, "tnum" on, "cv06" on, "cv13" on, "cv07" on,
    "cv05" on, "cv10" on, "cv12" on, "cv08" on, "cv11" on, "cv04" on, "cv03" on,
    "cv02" on, "cv09" on;
}
